/* THIS CAUSES BOXES TO GO AROUND EVERYWHERE */
/* * {
border: 1px solid black;
background-color: rgb(81, 119, 134);
width: 480px;
margin: 0px auto;
} */

/* GENERAL BODY SETTINGS */
body {
/* margin: 0px auto; */
width: 960px;
background-color: lightgray;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: rgb(24, 19, 51);
}

/* HEADER SLOGAN */
body > header > nav > ul > h1 {

    margin-bottom: 50px;
}

/* HEADER SLOGAN */
body > header > nav > ul {

    text-decoration-style: solid;
}


a {
    text-decoration: none;
    color: rgb(87, 92, 151);
}

/* Buttons at the bottom */
body > main > section > li {
    display: inline-block;
    width: 80px;
    padding: 5px;
    margin: 5px;
    background-color: rgb(155, 164, 165);
    text-align: center;
    border-radius: 25px;
    margin-top: 40px;

    

}


/* MAIN BODY */
body > main {
    margin-top: 20px;
}

/* 3 IMAGES */
body > main > section > article > figure > img {
width: 300px;
margin-top: 0px;
}

body > main > section > article > figure > p {
    float: right;
    text-align: left;
    margin-bottom: 50px;
}